<!doctype html>
<html lang="en" ng-app="bestRestaurants">
<head>
  <meta charset="UTF-8">
  <title>Best Restaurants</title>
  <script src="lib/angular.js"></script>
  <script src="app.js"></script>
  <script src="js/RestaurantsController.js"></script>
  <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="container" ng-controller="RestaurantsCtrl">
    <div class="jumbotron">
      <h1>Best Restaurants</h1>
    </div>
    <div class="row" ng-show="restaurants.length">
      <h4>Search Restaurants:</h4>
        <form class="form-inline" role="form">
          <div class="form-group">
            <div class="col-xs-3">
              <input ng-model="search.name" type="text" class="form-control" placeholder="Search by name">
            </div>
            <div class="col-xs-3">
              <input ng-model="search.type" type="text" class="form-control" placeholder="Search by type">
            </div>
            <div class="col-xs-3">
              <input ng-model="search.location" type="text" class="form-control" placeholder="Search by location">
            </div>
            <div class="col-xs-3">
              <input ng-model="search.price" type="text" class="form-control" placeholder="Search by price">
            </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h2 ng-show="restaurants.length">List of Restaurants:</h2>
        <ul>
          <li ng-repeat="item in restaurants | filter:search ">
            <span ng-click="editing = true" ng-hide="editing">
              {{item.name}} <a ng-click="deleteRestaurant(item)">Delete</a>
              <ul>
                <li>Type of food: {{item.type}}</li>
                <li>Location: {{item.location}}</li>
                <li>Price: {{item.price}}</li>
              </ul>
            </span>
            <span class="form-group" ng-show="editing" ng-submit="editing = false">
              <form class="form-inline" role="form">
                <input type="text" class="form-control input-sm" ng-model="item.name" placeholder="Name" required>
                <button class="btn btn-warning" type="submit">Save</button>
              </form>
            </span>
          </li>
        </ul>
      </div>
      <div class="col-xs-6">
        <h2>New Restaurant:</h2>
        <form ng-submit="addRestaurant()" class="form-inline" role="form">
          <div class="form-group">
            <input type="text" ng-model="restaurantName" class="form-control" placeholder="Enter Name" required>
            <input type="text" ng-model="restaurantType" class="form-control" placeholder="Enter Type" required>
            <input type="text" ng-model="restaurantLocation" class="form-control" placeholder="Enter Location" required>
            <div class="checkbox">
              <h4>Price Range:</h4>
              <input type="checkbox" ng-model="restaurantPrice" ng-true-value="'$'">$
              <input type="checkbox" ng-model="restaurantPrice" ng-true-value="'$$'">$$
              <input type="checkbox" ng-model="restaurantPrice" ng-true-value="'$$$'">$$$
              <input type="checkbox" ng-model="restaurantPrice" ng-true-value="'$$$$'">$$$$
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Add Restaurant</button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
